* {
    margin: 0;
    padding: 0;
    
}

section {
    height: 100vh;
    
}

a {
    text-decoration: none;
}

nav {
    background: rgb(25, 25, 25, 0.75);
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 1px 0px 4px 2px #000000;
    position: fixed;
}

#nav-default ul {
    text-align: center;
    padding: 0px;
    margin: 15px 0px;
}

#nav-default li {
    display: inline-block;
    margin-left: 10px; 
}

#nav-default a {
    text-shadow: 1px 1px 1px #000000;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

#home {
    background-image: url("img/home.jpg");
}

.bg-overlay {
    height: 100vh;
    background: rgb(25, 25, 25, 0.5);
}

#home-wrapper {
    text-align: center;
    padding: 40vh;
}

#home-wrapper h1, h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

#home-wrapper h1 {
    border-bottom: 4px solid white;
    font-size: 6em;
    color: white;
}

#home-wrapper h2 {
    color: rgb(137, 26, 26);
    font-size: 3em;
}

#about {
    background-image: url("img/about.jpg");
    position: relative;
    color: white;
}

#about-container {
    background-color: rgb(25, 25, 25, 1);
    box-shadow:
        1px 1px 4px 1px #000000,
        -1px -1px 4px 1px #000000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#about-container h1 {
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    font-size: 3em;
    margin: 40px 0px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

#about-content p {
    font-size: 1.25em;
    margin: 0px 40px 20px 40px;
}

#about-content ol {
    text-align: center;
    margin-bottom: 20px;
}

#about-content li {
    font-size: 1.25em;
    margin: auto;
    width: 75px;
}

#about-content #top {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

#more {
    display: none;
}

#more-button {
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    background: none;
    border: none;
    outline:none;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(137, 26, 26);
}

#more-button i {
    font-size: 30px;
    
}

.about-link {
    color: rgb(137, 26, 26);
}

#footer  {
    bottom: 0;
    right: 0;
    z-index: 1;
    position: fixed;
}

.footer-elements { 
    list-style: none;
    display: block;
    padding: 40px;
    padding: 30px 30px 30px 0px;
    font-size: 20px;
    color: white;
}

#footer a {
    border: 3px solid white;
    border-radius: 50%;
    padding: 15px 20px;
    color: white;
    transition: 0.5s;
    background: rgb(25, 25, 25, 0.75);
    text-shadow: 2px 2px 4px #000000;
    box-shadow:
        1px 1px 4px 1px #000000,
        -1px -1px 4px 1px #000000;
}

@media (hover: hover) {
    #nav-default a:hover {
        border-bottom: 2px solid rgb(183, 13, 13);
    }

    .about-link:hover {
        color: rgb(183, 13, 13);
    }

    #more-button:hover {
        color: rgb(183, 13, 13);
    }

    #footer a:hover {
        color:rgb(137, 26, 26);
        border: 3px solid rgb(137, 26, 26);
        transition: 0.5s;
    }
}